<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Job Consultancy</title>
    <!--    Common Css-->
    <div th:replace="~{common :: common(~{::link})}"></div>
<!--    <link rel="stylesheet" th:href="@{/user/css/counter.css}">-->
    <link rel="stylesheet" th:href=@{/user/css/uploadCV.css}>
    <link rel="stylesheet" th:href=@{/user/css/toast.css}>

</head>
<body>


<!--Header Section-->
<div th:replace="~{components/navbar :: navbar}"></div>

<!--Float Msg-->
<div th:replace="~{components/float-msg :: toast}"></div>

<div th:replace="~{components/uploadCV :: sample}"></div>

<!-- Footer Section -->
<div th:replace="~{components/footer :: footer}"></div>


<!-- Common Js -->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div th:replace="~{common :: common_js(~{::script})}"></div>
<script th:src=@{/user/js/banner.js}></script>
<script th:src=@{/user/js/uploadCV.js}></script>

<script th:src=@{/user/js/toast.js}></script>

</body>
</html>
