z<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="career-sec" th:fragment="career">
    <div class="job-types">
        <a th:href="@{|/career?jobType=All|}"><button class="job-type active">All</button></a>
        <a th:href="@{|/career?jobType=Full Time|}"><button class="job-type ">Full Time</button></a>
        <a th:href="@{|/career?jobType=Part Time|}"><button class="job-type ">Part Time</button></a>
        <div class="line"></div>
    </div>


    <div class="career-container">
        <!-- Career 1 -->
        <div class="career-box" th:each="jobPost : ${jobPosts}">
            <span th:text="${jobPost.employmentStatus}">Full Time</span>
            <div class="career-title">
                <h3 th:text="${jobPost.jobTitle}">Assistant Manager</h3>
                <p><i class="fa-solid fa-location-dot" style="margin-right: 10px"></i>[[${jobPost.location}]]</p>
                <p><i class="fa-solid fa-money-check-dollar" style="margin-right: 10px"></i>[[${jobPost.salary}]]</p>
            </div>
            <div class="career-desc">
                <p th:text="${jobPost.jobDescription}">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem,
                    molestias aliquam harum praesentium doloremque corporis?
                </p>
            </div>
            <a th:href="@{|/career/job?jobPost=${jobPost.jobTitle}|}" class="apply-btn">Apply Now</a>
        </div>
    </div>
</div>

</body>
</html>
