<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="ex-row" th:fragment="choose_us">
    <div class="ex-container">
        <!-- First -->
        <div class="ex-card">
            <div class="left-ex">

                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="right-ex">
                <h3>Best In Industry</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Second -->
        <div class="ex-card">
            <div class="left-ex">

                <i class="fa-solid fa-ship"></i>
            </div>
            <div class="right-ex">
                <h3>100% Happy Client</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Third -->
        <div class="ex-card">
            <div class="left-ex">

                <i class="fa-solid fa-laptop-code"></i>
            </div>
            <div class="right-ex">
                <h3>Professional Advisor</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Fourth -->
        <div class="ex-card">
            <div class="left-ex">

                <i class="fa-solid fa-trophy"></i>
            </div>
            <div class="right-ex">
                <h3>Award Winning</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Fifth -->
        <div class="ex-card">
            <div class="left-ex">

                <i class="fa-solid fa-bullhorn"></i>
            </div>
            <div class="right-ex">
                <h3>24/7 Customer Support</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Sixth -->
<!--        <div class="ex-card">-->
<!--            <div class="left-ex">-->
<!--                <i class="fa-brands fa-space-awesome"></i>-->
<!--            </div>-->
<!--            <div class="right-ex">-->
<!--                <h3>Position Strategy</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum-->
<!--                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem-->
<!--                    animi amet eveniet!-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Seventh &ndash;&gt;-->
<!--        <div class="ex-card">-->
<!--            <div class="left-ex">-->
<!--                <i class="fa-solid fa-torii-gate"></i>-->
<!--            </div>-->
<!--            <div class="right-ex">-->
<!--                <h3>Market Research</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum-->
<!--                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem-->
<!--                    animi amet eveniet!-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Eighth &ndash;&gt;-->
<!--        <div class="ex-card">-->
<!--            <div class="left-ex">-->
<!--                <i class="fa-solid fa-trophy"></i>-->
<!--            </div>-->
<!--            <div class="right-ex">-->
<!--                <h3>Asset Monetization</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum-->
<!--                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem-->
<!--                    animi amet eveniet!-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>
