<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="wrapper" th:fragment="services">
    <div th:insert="~{components/common :: head-title('Services', 'Our Services')}"></div>

    <div class="content-box">
        <div class="service-card" th:each="service : ${services}">
            <span th:utext="${service.fontAwesomeIcon}"></span>
            <h2 th:text="${service.title}">Web Developement</h2>
            <p th:text="${service.description}">adipisicing elit. Ipsa nostrum voluptatibus magnam excepturi repellendus laboriosam pariatur omnis
                inventore numquam amet.</p>
            <div class="content">
                <a th:href="@{|/service/${service.title}|}" class="read-more">Read More</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="my-service">
    <h1 style="color:red; text-align:center;">This is My Service</h1>

</div>
</body>
</html>
