<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="wrapper" th:fragment="services">
    <h1>Our Services</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, illo animi. Fugit, non culpa corporis voluptatem repudiandae distinctio tempora odit.</p>
    <div class="content-box">
        <div class="service-card first">
            <i class="fa-solid fa-chart-line"></i>
            <h2>Marketing Services</h2>
            amet consectetur adipisicing elit. Ipsa nostrum voluptatibus magnam excepturi repellendus laboriosam pariatur omnis inventore numquam amet.
        </div>
        <div class="service-card">
            <i class="fa-solid fa-code"></i>
            <h2>Web Developement</h2>
            adipisicing elit. Ipsa nostrum voluptatibus magnam excepturi repellendus laboriosam pariatur omnis inventore numquam amet.
        </div>
        <div class="service-card">
            <i class="fa-solid fa-mobile-button"></i>
            <h2>App Developement</h2>
            Caboriosam pariatur omnis consectetur adipisicing elit. Ipsa nostrum voluptatibus magnam excepturi repellendus laboriosam pariatur omnis inventore numquam amet.
        </div>
        <div class="service-card">
            <i class="fa-solid fa-tachograph-digital"></i>
            <h2>Digital Marketing</h2>
            amet consectetur adipisicing elit. Ipsa nostrum voluptatibus magnam excepturi repellendus laboriosam pariatur omnis inventore numquam amet.
        </div>
        <div class="service-card">
            <i class="fa-solid fa-globe"></i>
            <h2>SEO Management</h2>
            adipisicing elit. Ipsa nostrum voluptatibus magnam excepturi repellendus laboriosam pariatur omnis inventore numquam amet.
        </div>
        <div class="service-card">
            <i class="fa-solid fa-network-wired"></i>
            <h2>Networking</h2>
            Caboriosam pariatur omnis consectetur adipisicing elit. Ipsa nostrum voluptatibus magnam excepturi repellendus laboriosam pariatur omnis inventore numquam amet.
        </div>
    </div>
</div>

<div th:fragment="my-service">
    <h1 style="color:red; text-align:center;">This is My Service</h1>

</div>
</body>
</html>
