<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="swiper mySwiper" th:fragment="testimonial">
    <div class="swiper-wrapper">
        <!-- <i class="fa-solid fa-quote-left quote-left"></i> -->
        <div class="swiper-slide">
            <div class="testimonial">
                <div class="testimonial-img">
                    <img src="/user/img/testi1.jpg" alt="" />
                </div>
                <div class="testimonial-msg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                        nulla labore, quaerat cumque vitae et fugiat? Adipisci eligendi
                        ut quia!
                    </p>
                </div>
                <div class="testimonial-title">
                    <p>Johny Depp</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="testimonial">
                <div class="testimonial-img">
                    <img src="/user/img/testi2.jpg" alt="" />
                </div>
                <div class="testimonial-msg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                        nulla labore, quaerat cumque vitae et fugiat? Adipisci eligendi
                        ut quia!
                    </p>
                </div>
                <div class="testimonial-title">
                    <p>Pravin Sinha</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="testimonial">
                <div class="testimonial-img">
                    <img src="/user/img/testi3.jpg" alt="" />
                </div>
                <div class="testimonial-msg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                        nulla labore, quaerat cumque vitae et fugiat? Adipisci eligendi
                        ut quia!
                    </p>
                </div>
                <div class="testimonial-title">
                    <p>Yogita Saha</p>
                </div>
            </div>
        </div>
        <!-- <i class="fa-solid fa-quote-right quote-right"></i> -->
    </div>


    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
    <!-- <div class="swiper-pagination"></div> -->
</div>
</body>
</html>
